{% extends "leaderboard/leaderboard_base.html" %}

{% block title %}{{ leaderboard_data.quiz.name }} - Leaderboard{% endblock %}


{% block content %}
    <div id="leaderboard">
        <h1>{{ leaderboard_data.quiz.name }} - Leaderboard</h1>

        <!-- Your Progress Section -->
        <h2>Your Progress</h2>
        <table>
            <tr>
                <th>Correct Quizzes</th>
                <th>Completed Quizzes</th>
                <th>Best Score</th>
                <th>Average Score</th>
            </tr>
            <tr>
                <td>{{ user_progress.correct_turns }}</td>
                <td>{{ user_progress.completed_turns }}</td>
                <td>
                    <div class="progress-bar">
                        <div class="progress"
                             style="width: {{ user_progress.best_score }}%;">{{ user_progress.best_score }}%
                        </div>
                    </div>
                </td>
                <td>
                    <div class="progress-bar">
                        <div class="progress"
                             style="width: {{ user_progress.average_score }}%;">{{ user_progress.average_score }}%
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <!-- Existing Leaderboard Section -->
        <h2>Quiz Leaderboard</h2>
        <p>Overall Average Score for Quiz: {{ leaderboard_data.average_quiz_score }}%</p>
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Correct Quizzes</th>
                <th>Best Score</th>
                <th>Average Score</th>
            </tr>
            </thead>
            <tbody>
            {% for score in leaderboard_data.user_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ score.username }}</td>
                    <td>{{ score.correct_turns }}</td>
                    <td>
                        <div class="progress-bar">
                            <div class="progress"
                                 style="width: {{ user_progress.best_score }}%;">{{ score.best_score }}%
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="progress-bar">
                            <div class="progress"
                                 style="width: {{ user_progress.average_score }}%;">{{ score.average_score }}%
                            </div>
                        </div>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="5">No users have completed this quiz yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


