{% extends "quiz/base_highlighting.html" %}

{% block title %}Question Detail{% endblock %}

{% block highlight_content %}
    <h1>Question {{ question.id }}</h1>
    <h2>{{ question.question }}</h2>

    {% if question.question_text %}
        <p>{{ question.question_text|linebreaksbr }}</p>
    {% endif %}
    {% if question.code_snippets %}
        <pre><code class="language-java">{{ question.code_snippets|escape }}</code></pre>
    {% endif %}

    <ul>
        {% for choice in question.choice_set.all %}
            <li><span class="choice-text">{{ choice.choice_text }}</span></li>
        {% endfor %}
    </ul>
    <p>The question was submitted on {{ question.submit_date }}</p>
    <a href="{% url 'results' question.id %}">Show solution</a>
{% endblock %}
