{% extends "base.html" %}

{% block title %}Question Detail{% endblock %}
{% block extendHTMLHeader %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.27.0/components/prism-java.min.js"></script>
{% endblock %}
{% block content %}
    <h1>Question {{ question.id }}</h1>
    <h2>{{ question.question }}</h2>

    {% if question.question_text %}
        <p>{{ question.question_text }}</p>
    {% endif %}
    <p class="code">
    <pre><code class="language-java">{{ question.code_snippets }}</code></pre>
    </p>

    <ul>
        {% for choice in question.choice_set.all %}
            <li><span class="choice-text">{{ choice.choice_text }}</span></li>
        {% endfor %}
    </ul>
    <p>The question was submitted on {{ question.submit_date }}</p>
    <a href="{% url 'results' question.id %}">Show solution</a>

{% endblock %}
