{% extends "quiz/leaderboard_base.html" %}

{% block title %}{{ leaderboard_data.quiz.name }} - Leaderboard{% endblock %}

{% block content %}
    <div id="leaderboard">
        <h1>{{ leaderboard_data.quiz.name }} - Leaderboard</h1>
        <table>
            <thead>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Correct</th>
                <th>Score (%)</th>
            </tr>
            </thead>
            <tbody>
            {% for score in leaderboard_data.user_scores %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ score.user__username }}</td>
                    <td>{{ score.total_correct }}</td>
                    <td>{{ score.score_percentage|floatformat:2 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No users have completed this quiz yet.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
