{% extends "quiz/base_highlighting.html" %}

{% block title %}Question {{ question.id }}{% endblock %}

{% block highlight_content %}
    <h1>Question {{ question.id }}</h1>
    <h2>{{ question.question }}</h2>
    {% if question.question_text %}
        <p>{{ question.question_text|linebreaksbr }}</p>
    {% endif %}
    {% if question.code_snippets %}
        <pre><code class="language-java">{{ question.code_snippets|escape }}</code></pre>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" name="submit" value="Submit" id="submit"/>
    </form>
    <br/>

    <div class="navigation">
        {% if previous_question %}
            <a href="{% url 'question' quiz.id previous_question.id %}">Previous</a>
        {% endif %}
        {% if next_question %}
            <a href="{% url 'question' quiz.id next_question.id %}">Next</a>
        {% else %}
            <a href="{% url 'results' quiz.id %}">Show Results</a>
        {% endif %}
    </div>
{% endblock %}
