{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}JQuiz{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block extendHTMLHeader %}
    {% endblock %}
</head>

<body>

<header>
<div style="text-align: right">
    {% if user.is_authenticated %}
        Welcome, {{ user.username }}!
            <a href="#" id="logout-link">Log Out</a>
        <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
            {% csrf_token %}
        </form>
    {% else %}
        You are not logged in!
            Please <a href="{% url 'login' %}">Log In</a> or <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    {% block extendBodyHeader %}
    {% endblock %}
</div>
</header>
<script>
    document.getElementById('logout-link').addEventListener('click', function (event) {
        event.preventDefault(); // Prevent the default action of the link
        document.getElementById('logout-form').submit(); // Submit the hidden form
    });
</script>

<main>
    {% block content %}
    {% endblock %}
</main>
</body>
</html>